<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Homepage</title>
    <link rel="stylesheet" href="/styles/home.css" />
</head>

<body>
    <%- include("./components/navbar.ejs") %>
    <div class="container">
        <%if(blogs.length === 0){%>
            <h1>No posts yet. Create one</h1>
        <%} else {%>
           <% blogs.forEach((blog)=>{ %>
                <div class="card">
                    <img src="<%- blog.image%>" alt="Blog Image">
                    <div class="card-content">
                        <h3 class="card-title"><%-blog.title%></h3>
                        <p class="card-description"><%-blog.subtitle%></p>
                        <a href="/blog/<%-blog._id%>" class="card-link">...See More</a>
                    </div>
                </div>
                <%})}%>
    </div>
</body>
</html> 